[submodule "dwh-admin"]
	path = dwh-admin
	url = ../dwh-admin.git
[submodule "dwh-import"]
	path = dwh-import
	url = ../dwh-import.git
[submodule "dwh-query"]
	path = dwh-query
	url = ../dwh-query.git
[submodule "vagrant-vm"]
	path = dwh-setup
	url = ../dwh-setup.git
[submodule "dwh-api"]
	path = dwh-api
	url = ../dwh-api.git
[submodule "dwh-db"]
	path = dwh-db
	url = ../dwh-db.git 
[submodule "dwh-j2ee"]
	path = dwh-j2ee
	url = ../dwh-j2ee.git
[submodule "broker"]
	path = broker
	url = ../broker.git
[submodule "dwh-prefs"]
	path = dwh-prefs
	url = ../dwh-prefs.git
[submodule "r-script"]
	path = r-script
	url = ../r-script.git
